@font-face {
    font-family: 'obelix-proIt';
    src: url('../obelix-proIt.ttf');
}
*{box-sizing: border-box;padding: 0;margin: 0;}
body{font-family: "Lexend", sans-serif;}
:root{
    --primary-color: #00109E;
    --dark-linear-background: linear-gradient(126.97deg, #040614 28.26%, #000620 91.2%);
    --gray-color: #A0AEC0;
    --green-color: #01B574;
    --obelix-proIt-font: 'obelix-proIt';
}

/* width */
::-webkit-scrollbar {width: 4px;height: 5px;}
/* Track */
::-webkit-scrollbar-track {background: linear-gradient(111.84deg, #000418 59.3%, #000319 100%);}
/* Handle */
::-webkit-scrollbar-thumb {background: #26243E;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}

.wrapper{padding-left: 0;padding-top: 34px;transition: 0.25s padding ease;background: url(../images/main-bg.png);background-repeat: no-repeat;background-position: top;background-size: cover;position: relative;background-attachment: fixed;}
.wrapper .navbar{z-index: 11;box-shadow: none;background: transparent;transition: 0.25s ease;padding: 0 45px 29px 45px;align-items: flex-start;position: relative;}
.sidebar{position: fixed;top: 10px;bottom: 10px;left: 0;width: 245px;z-index: 111;background: linear-gradient(111.84deg, #000418 59.3%, #000319 100%);transition: 0.25s transform ease;transform: translate3d(-100%,0,0);border-radius: 20px;padding: 36px 26.5px 30px 18px;}
.nav-slide-open .sidebar{transform: translate3d(10px,0,0);}
.sidebar .inner{overflow-y: auto;display: block;height: 100%;}
.sidebar .top-header{position: relative;padding-bottom: 31.5px;}
.sidebar .top-header::before{content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);}
.sidebar .logo-title{font-size: 14px;font-weight: 500;line-height: 14px;letter-spacing: 0.18em;text-align: center;color: #fff;margin: 0;}

.sidebar .sidebar-nav{max-width: 100%;list-style: none;margin: 0;padding-left: 0;display: flex;flex-direction: column;}
.sidebar .nav-item .nav-link{display: flex;align-items: center;gap: 0 15.5px;font-size: 14px;font-weight: 500;line-height: 14px;text-align: left;color: #fff;padding: 12px 16px;border-radius: 15px;transition: all 0.3s ease-in-out;}
.sidebar .nav-item .nav-link .nav-icon{box-shadow: 0px 3.5px 5.5px 0px #00000005;background: #26243E;width: 30px;height: 30px;border-radius: 12px;display: flex;align-items: center;justify-content: center;transition: all 0.3s ease-in-out;}
.sidebar .nav-item .nav-link .nav-icon .icon{width: 15px;height: 15px;color: #B0B8FF;transition: all 0.3s ease-in-out;}
.sidebar .nav-item .nav-link.active{box-shadow: 0px 3.5px 5.5px 0px #00000005;background: #26243E;}
.sidebar .nav-item .nav-link.active .nav-icon{background: var(--primary-color);}
.sidebar .nav-item .nav-link.active .nav-icon .icon{color: #fff;}

.sidebar .bottom-links{margin-top: 60px;}
.sidebar .bottom-links .heading{font-size: 12px;font-weight: 500;line-height: 18px;margin-bottom: 13px;color: #fff;padding-left: 16px;}

.navbar{padding-left: 40.5px;padding-right: 47.5px;}
.navbar .breadcrumbs-div{display: flex;flex-direction: column;gap: 6px 0;}
.navbar .breadcrumbs-div .path{display: flex;align-items: center;gap: 0 7px;}
.navbar .breadcrumbs-div .path .curr-page{color: #fff;font-size: 14px;font-weight: 500;line-height: 12px;text-decoration: none;}
.navbar .breadcrumbs-div .path .prev-page{color: #A0AEC0;font-size: 14px;font-weight: 400;line-height: 24px;text-decoration: none;}
.navbar .breadcrumbs-div .current-page{font-size: 14px;font-weight: 500;line-height: 20px;margin: 0;color: #fff;text-decoration: none;}

.navbar .right-links{display: flex;align-items: center;gap: 0 17px;}
.navbar .right-links .links{color: #718096;text-decoration: none;}
.navbar .right-links .links.with-text{display: flex;align-items: center;gap: 0 4px;font-size: 12px;font-weight: 400;line-height: 18px;}
.navbar .right-links .links .icon{width: 12px;height: 12px;}
.right-content{height: 100%;display: flex;align-items: flex-start;gap: 0 15px;}

/* Navbar Toggler CSS  */
.navbar-toggler:focus{outline:none;box-shadow:none;}
button.navbar-toggler{padding: 0;display: none;}
button.navbar-toggler .navbar-dash{display:block;height:2px;width:30px;background:#fff;margin:6px;pointer-events:none;}
button.navbar-toggler .navbar-dash{transition:0.2s all;}
.nav-slide-open button.navbar-toggler .navbar-dash:nth-child(2){opacity:0;}
.nav-slide-open button.navbar-toggler .navbar-dash:nth-child(1){transform:rotate(45deg) translate(3px,9px)}
.nav-slide-open button.navbar-toggler .navbar-dash:nth-child(3){transform:rotate(-45deg) translate(2px,-8px);}


.page-contents{min-height: calc(100vh - 34px) !important;}
.fs-esmall{font-size: 12px;font-weight: 500;line-height: 12px;color: #fff;margin: 0;}
.fs-small{font-size: 14px;font-weight: 500;line-height: 14px;color: var(--gray-color);margin: 0;}
.fs-medium{font-size: 16px;font-weight: 400;line-height: 24px;color: var(--gray-color);margin: 0;}
.fs-large{font-size: 18px;font-weight: 700;line-height: 25px;margin: 0;color: #fff;}
.inner-cards-row{display: flex;flex-direction: column;gap: 24px 0;}
.page-contents .padding-div{padding: 0 24px 10px 24px;}
.card-col{padding: 0 10px;}
.cards-row{gap: 20px 0;}
.quick-cards .inner-card{padding: 18px 18px 18px 22px;background: var(--dark-linear-background);border-radius: 20px;display: flex;justify-content: space-between;align-items: center;gap: 0 45px;}
.quick-cards .inner-card .text-content{display: flex;flex-direction: column;gap: 3px 0;}
.quick-cards .inner-card .text-content .card-title{font-size: 12px;font-weight: 500;line-height: 12px;margin: 0;color: var(--gray-color);}
.quick-cards .inner-card .text-content .price-div{display: flex;align-items: center;gap: 0 19px;}
.quick-cards .inner-card .text-content .price-div .price{font-size: 18px;font-weight: 700;line-height: 25px;color: #fff;margin: 0;}
.quick-cards .inner-card .text-content .price-div .perc{font-size: 14px;font-weight: 700;line-height: 20px;margin: 0;color: var(--green-color);}
.quick-cards .inner-card .text-content .minus-value{color: #E31A1A !important;}
.quick-cards .inner-card .icon-div{background: var(--primary-color);border-radius: 12px;width: 45px;height: 45px;box-shadow: 0px 3.5px 5.5px 0px #00000005;display: flex;align-items: center;justify-content: center;min-width: 45px;}
.quick-cards .inner-card .icon-div .icon{color: #fff;width: 23px;height: 23px;}

.welcome-card{padding: 35px 32px;border-radius: 20px;background: url(../images/welcome-card-bg.png);background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;}
.welcome-card .text-content{max-width: 245px;display: flex;flex-direction: column;gap: 135px 0;word-wrap: break-word;word-break: break-word;}
.welcome-card .text-content .top-content .name{font-family: Lexend;font-size: 28px;font-weight: 700;line-height: 28px;color: #fff;padding-top: 12px;padding-bottom: 19px;margin: 0;}
.welcome-card .text-content .new-project-link{display: flex;align-items: center;text-decoration: none;}
.welcome-card .text-content .new-project-link:hover{color: #fff;}

.rate-card{background: linear-gradient(127.09deg, #000518 19.41%, rgba(0, 11, 23, 0.49) 76.65%);border-radius: 20px;padding: 26px 26px 38px 26px;height: 100%;}
.rate-card .text-content{display: flex;flex-direction: column;gap: 4px 0;}
.progress-bar-sec{display: flex;align-items: center;justify-content: center;padding-top: 0;position: relative;flex-direction: column;}
.rate-card .percent {position: relative;}
.rate-card .progress-bar-sec .icon-div{width: 48px;height: 48px;border-radius: 50%;background: var(--primary-color);display: flex;align-items: center;justify-content: center;position: absolute;left: 50%;top: 40%;transform: translate(-50%,-50%);}
.progress-bar-sec .info-div{padding: 19px 25px;display: flex;border-radius: 20px;background: #000518;position: absolute;bottom: 0;left: 0;right: 0;z-index: 11;justify-content: space-between;}
.progress-bar-sec .info-div .per{color: var(--gray-color);}
.progress-bar-sec .info-div .current-per{display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 6px 0;}
.progress-bar-sec .info-div .current-per .text{text-align: center;color: var(--gray-color);}
.progress-bar-sec .info-div .current-per .current{font-size: 28px;font-weight: 700;line-height: 28px;color: #fff;}
.rate-card .progress-bar-sec .icon-div .icon{width: 30px;height: 30px;color: #fff;}
.percent svg {position: relative;width: 212px;height: 212px;transform: rotate(18deg);}  
.percent svg circle {width: 100%;height: 100%;fill: none;stroke: #22234B;stroke-width: 10;stroke-linecap: round;}  
.active-campaigns-card .percent svg circle{stroke: transparent;}
.percent svg circle:last-of-type {stroke-dasharray: 625px;stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);stroke: #0007B5; }
.active-campaigns-card .percent svg circle:last-of-type{stroke: #05CD99;}
.campaigns-progress{position: relative;height: 212px;}
.active-campaigns-card .score-div{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);display: flex;flex-direction: column;gap: 6px 0;align-items: center;}
.active-campaigns-card .score-div .score{font-size: 50px;font-weight: 700;line-height: 50px;color: #fff;margin: 0;}
.active-campaigns-card .percent svg{transform: rotate(65deg);}

.active-campaigns-card{padding: 27px 25px 3px 30px;background: linear-gradient(126.97deg, #02001D 28.26%, #06001E 91.2%);border-radius: 20px;}
.active-campaigns-card .sec-title-div{display: flex;align-items: center;justify-content: space-between;margin-bottom: 5px;}
.active-campaigns-card .dot-dropdown{width: 37px;height: 37px;border-radius: 12px;background: #26243E;border: 0;display: flex;align-items: center;justify-content: center;}
.active-campaigns-card .dot-dropdown .icon{color: var(--primary-color);width: 24px;height: 24px;}
.active-campaigns-card .status-card{background: linear-gradient(126.97deg, #070629 28.26%, rgba(0, 1, 17, 0.5) 91.2%);border-radius: 20px;padding: 20px 25px 15px 24px;}
.active-campaigns-card .status-card{display: flex;flex-direction: column;gap: 5px 0;}
.active-campaigns-card .cards-progress{display: flex;gap: 0 35px;align-items: center;justify-content: space-between;}
.active-campaigns-card .cards-progress .cards{width: 100%;}


.analytics-div{height: 100%;background: linear-gradient(126.97deg, rgba(0, 2, 18, 0.74) 28.26%, rgba(17, 0, 0, 0.71) 91.2%);padding: 28px 21px;border-radius: 20px;}
.analytics-div .sub-heading{margin-top: 6px;}
.analytics-div .sub-heading .font-bold{color: var(--green-color);font-weight: 700;}
.chart-div{width: 100%;margin-top: 20px;}
.active-user-chart .chart-div{margin-top: 0;background: linear-gradient(126.97deg, #001B3B 28.26%, #003A65 91.2%);border-radius: 20px;padding: 10px;}
.active-user-chart.analytics-div{padding: 16px 22px 31px 22px;background: #04001C;}
.active-user-chart .sec-title-div{margin-top: 24px;margin-bottom: 25px;}
.progress-bar-mcard{display: flex;align-items: center;justify-content: space-between;gap: 0 50px;}
.progress-bar-card{display: flex;flex-direction: column;gap: 9px 0;}
.progress-bar-card .icon-div{display: flex;align-items: center;gap: 0 11px;font-size: 14px;font-weight: 500;line-height: 21px;color: var(--gray-color);}
.progress-bar-card .icon-div .icon{display: flex;width: 25px;height: 25px;background: var(--primary-color);border-radius: 6px;align-items: center;justify-content: center;}
.progress-bar-card .icon-div .icon .icn{color: #fff;width: 12.5px;height: 12.5px;}
.bar{width: 100px;position: relative;height: 3px;border-radius: 50px;background: #414351;}
.bar .filled{position: absolute;left: 0;top: 0;height: 3px;background: var(--primary-color);border-radius: 50px;}
.table-title{display: flex;justify-content: space-between;}
.table-title .text-content .icon{width: 15px;height: 15px;color: var(--green-color);}
.table-title .text-content{display: flex;flex-direction: column;gap: 6px 0;}
.table-title .dropdown-btn{border: 0;background: transparent;height: 100%;}
.table-title .dropdown-btn .icon{color: var(--gray-color);width: 20px;height: 20px;}
.table-sec .table{margin-top: 30px;}
.table-sec .table .table-th{font-size: 12px;font-weight: 500;line-height: 15px;color: var(--gray-color);padding: 0 0 12.5px 0;border-color: #56577A;}
.table-sec .table .campaign-img{width: 29px;height: 25px;margin-right: 12px;}
.table-sec .table .table-td{font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;padding: 19px 0;border-color: #56577A;}
.members-imgdiv .user-img{width: 26px;height: 26px;object-fit: cover;border-radius: 50%;border: 2px solid #001B3B;margin-right: -10px;}
.members-imgdiv{display: flex;}
.table-sec .table .progress-bar-div{display: flex;flex-direction: column;}
.table-sec .table .progress-bar-div .perc{margin: 0;font-size: 14px;font-weight: 700;line-height: 20px;color: #fff;}
.table-sec .table .bar{background: #23244B;width: 125px;}
.table-sec .table .bar .filled{background: #1A9BE3;}
.table-sec .table-title .text-content{margin-top: 20px;}
.conversion-card{background: linear-gradient(126.97deg, #04001C 28.26%, #0A0020 91.2%);border-radius: 20px;padding: 28px 22px;}
.conversion-card .font-bold{font-weight: 500;}
.conversion-card-list{display: flex;flex-direction: column;gap: 25px 0;margin-top: 30px;}
.conversion-cards .icon{color: var(--primary-color);width: 15px;height: 15px;margin-top: 4px;}
.conversion-cards{display: flex;gap: 0 20px;}
.conversion-cards .text-content{display: flex;flex-direction: column;gap: 4px 0;}
.conversion-cards .text-content .fs-medium{color: #fff;}
.conversion-cards .text-content .fs-small{line-height: 18px;}

.footer{display: flex;width: 100%;justify-content: end;align-items: center;margin-top: 30px;padding-right: 94px;margin-bottom: 20px;}
.footer .inner-content{display: flex;align-items: center;gap: 0 56px;}
.footer .inner-content .footer-link{font-size: 14px;font-weight: 400;line-height: 21px;text-decoration: none;color: #fff;}

#analyticsChart{height: 250px;}


.dark-table{background: #07001E;padding: 45px 65px;border-radius: 20px;}
.table-sec .table tr:nth-last-child(1) td{border: 0;padding-bottom: 0;}

.project-campaigns.active-campaigns-card .cards-progress{flex-direction: column-reverse;gap: 15px 0;}
.project-campaigns.active-campaigns-card .cards-progress .cards{width: fit-content;display: flex;justify-content: space-between;width: 100%;}
.project-campaigns.active-campaigns-card .status-card{padding: 20px 8px 30px 4px;}

.add-project-row{gap: 15px 0;}
.start-project-card{padding: 45px;background: #04001C;border-radius: 20px;height: 100%;position: relative;}
.start-project-card .cards-title{font-size: 28px;font-weight: 700;line-height: 28px;color: rgba(255, 255, 255, 0.8);margin: 0 0 10px 0;}
.start-project-card .add-project{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;margin-top: 15px;padding: 45px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}

.project-list{position: relative;height: 445px;display: flex;align-items: center;}
.project-list-card{position: absolute;background: #04001C;}
.project-list-card:nth-last-child(1){right: 0;z-index: 1;max-height: 85%;}
.project-list-card:nth-last-child(2){right: 35px;z-index: 2;max-height: 90%;}
.project-list-card:nth-last-child(3){right: 70px;z-index: 3;max-height: 95%;}
.project-list-card:nth-last-child(4){right: 100px;z-index: 4;left: 0;}
.project-list-card .title-div{display: flex;justify-content: space-between;gap: 0 50px;}
.project-list-card .title-div .project-name{margin: 0;font-size: 16px;font-weight: 500;line-height: 22px;color: #fff;}
.project-list-card .progress-bar-sec{margin-top: 30px;}
.project-list-card.rate-card .progress-bar-sec .info-div{width: fit-content;gap: 0 72px;margin: auto;}
.project-list-card{padding: 31px 36px 14px 38px;box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.25);}
.project-list-card .bottom-content{display: flex;align-items: end;justify-content: space-between;margin-top: 32px;gap: 0 8px;}
.project-list-card .bottom-content .start-date{margin-bottom: 0;font-size: 14px;font-weight: 700;line-height: 20px;color: rgba(255, 255, 255, 0.7);}
.continue-outline-btn{border: 1px solid rgba(255, 255, 255, 0.7);border-radius: 15px;padding: 15px 38px;text-decoration: none;font-size: 14px;font-weight: 700;line-height: 20px;color: rgba(255, 255, 255, 0.7);text-align: center;}
.continue-outline-btn:hover{color: rgba(255, 255, 255, 0.7);}
.table-row{gap: 15px 0;}

.publish-card{background: #04001C;padding: 39px;border-radius: 20px;}
.publish-card .title-div{display: flex;flex-direction: column;gap: 20px 0;}
.publish-card .title-div .title{font-size: 28px;font-weight: 700;line-height: 28px;color: #FFFFFFE5;margin: 0;}
.publish-card .title-div .fs-medium{color: #FFFFFFCC;}
.publish-card .title-div{margin-bottom: 60px;}
.publish-card .link-cards .label{font-size: 14px;font-weight: 700;line-height: 20px;color: #FFFFFFCC;margin-bottom: 20px;}
.publish-card .cards-div .inner-card{background: linear-gradient(180deg, #001B3B 0%, #003A65 100%);border-radius: 10px;display: flex;text-decoration: none;align-items: center;justify-content: center;flex-direction: column;padding: 35px 0;}
.publish-card .cards-div .card-img{width: 65px;height: 65px;}
.publish-card .cards-div .card-title{margin-top: 30px;font-size: 14px;font-weight: 700;line-height: 20px;color: #FFFFFFCC;text-decoration: none;margin-bottom: 0;}
.publishing-chart-div .chart-div{height: 225px;}

.project-campaigns.active-campaigns-card .sec-title-div{margin-bottom: 40px;}

.notification-sec .sec-title{display: flex;justify-content: space-between;align-items: center;}
.notification-sec .sec-title .view-all-link{text-decoration: none;color: #fff;line-height: 19px;}
.notification-sec .sec-title{margin-bottom: 20px;}

.notification-card{background: #0F092B;border-radius: 28px;padding: 29px 23px;display: flex;gap: 0 15px;position: relative;overflow: hidden;}
.notification-card::before{content: "";position: absolute;width: 330px;height: 330px;border: 6px solid #FFFBFB;border-radius: 50%;right: -180px;top: 60px;}
.notification-card::after{content: "";position: absolute;width: 360px;height: 360px;border: 1px solid #FFFBFB;border-radius: 50%;right: -215px;top: 80px;}
.notification-card .icon{width: 25px;height: 25px;color: #fff;}
.notification-card .date{margin-top: 14px;color: #FFFFFFB2;margin-bottom: 10px;}
.notification-card .rounded-btn{box-shadow: 0px 3.5px 5.5px 0px #00000005;background: #00109E;border-radius: 26px;padding: 8px 30px;font-size: 16px;font-weight: 400;line-height: 22px;color: #fff;text-decoration: none;display: block;width: fit-content;}
.notification-card .fs-large{font-weight: 500;}

.team-members-chat{display: flex;justify-content: space-between;align-items: center;margin-top: 50px;gap: 0 35px;margin-bottom: 30px;}
.team-members-chat .fs-large{font-weight: 500;}
.team-members-chat .members-imgdiv .user-img{width: 46px;height: 46px;border-color: #fff;object-fit: cover;margin-right: -17px;}
.team-members-chat .white-outline-btn{text-decoration: none;border: 1px solid #fff;border-radius: 10px;display: flex;align-items: center;justify-content: center;padding: 12px 45px;font-size: 18px;font-weight: 500;line-height: 25px;color: #fff;}

.team-chat-sec .fs-large{font-weight: 500;text-align: center;margin-bottom: 13px;}

.chat-card{background: #101243;border: 1px solid #E1E2FF;border-radius: 20px;padding: 85px 29px 75px 29px;}
.chat-card .chat-list{display: flex;flex-direction: column;gap: 15px 0;}
.chat-card .message-card{display: flex;align-items: center;}
.chat-card .message-card.received-message{gap: 0 30px;}
.chat-card .image-card{width: 30px;height: 30px;min-width: 30px;border-radius: 50%;}
.chat-card .image-card span{font-family: "Roboto", sans-serif;font-size: 20px;font-weight: 400;line-height: 20px;letter-spacing: 0.14px;text-align: center;color: #fff;}
.chat-card .message-card.received-message .image-card{background: #7879F1;border-radius: 64px;display: flex;align-items: center;justify-content: center;}
.chat-card .message-card .message-div{display: flex;flex-direction: column;gap: 7px 0;}
.chat-card .message-card.received-message .message{border: 1px solid #6C6C6C;background: #fff;font-family: "Roboto", sans-serif;color: #5D5D5D;}
.chat-card .message-card .message{border-radius: 10px;padding: 8px 10px 8px 12px;margin-bottom: 0;font-size: 12px;font-weight: 400;line-height: 20px;letter-spacing: 0.14px;text-align: left;max-width: 360px;}
.chat-card .message-card .time{margin-bottom: 0;font-family: "Public Sans", sans-serif;font-size: 10px;font-weight: 400;line-height: 12px;text-align: left;color: #333333;padding-left: 10px;}

.chat-card .message-card.sent-message{justify-content: end;gap: 0 15px;}
.chat-card .message-card.sent-message .chat-user{border-radius: 50%;object-fit: cover;}
.chat-card .message-card.sent-message .message-div .message{background: #000000;color: #FFFFFF;}
.chat-card .message-card.sent-message .time{text-align: end;}


.collab-project-list{display: flex;flex-direction: column;gap: 15px 0;}
.collab-project-card{box-shadow: 0px 0px 15px 0px #FFFFFF40;background: #04001C;border-radius: 20px;padding: 20px 30px 20px 40px;}
.collab-project-card .top-content{display: flex;justify-content: space-between;align-items: center;gap: 0 30px;margin-bottom: 35px;}
.collab-project-card .top-content .fs-medium{color: #fff;font-weight: 500;}
.collab-project-card .top-content .fs-small{color:#FFFFFFB2;line-height: 20px;font-weight: 700;}
.collab-project-card .progress-bar-sec .info-div{position: unset;transform: unset;background: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);gap: 0 50px;}
.collab-project-card .content{display: flex;align-items: end;gap: 0 35px;}

.calendar-div{background: #04001C;border-radius: 20px;padding: 14px;height: 100%;}
.calendar-div .fc .fc-toolbar-title{font-size: 14px;font-weight: 500;line-height: 20px;letter-spacing: 0.1px;text-align: center;color: #fff;}
.calendar-div .fc .fc-button-group > .fc-button{background: transparent;border: 0;}
.calendar-div .fc .fc-button-group > .fc-button:focus{outline: 0;box-shadow: none;}
.calendar-div * a{color: #fff;text-decoration: none;font-size: 14px;line-height: 20px;}
.fc-theme-standard td, .fc-theme-standard th{border: 0;}
.fc-theme-standard .fc-scrollgrid{border: 0;}
.fc .fc-daygrid-day-top{text-align: center;align-items: center;justify-content: center;}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{display: none;}
.fc .fc-daygrid-day.fc-day-today{background: transparent;display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;}
.fc .fc-day-today .fc-daygrid-day-frame{background: #00109E;border-radius: 50%;width: 40px;height: 40px;min-height: 40px;}
.fc .fc-daygrid-day-frame{display: flex;align-items: center;justify-content: center;}

.profile-row{gap: 15px 0;}
.profile-card{background: #04001C;border-radius: 20px;padding: 60px 50px 11px 70px;position: relative;z-index: 2;height: 100%;display: flex;flex-direction: column;}
.border-bg{position: absolute;left: 0;top: 15px;z-index: -1;width: 100%;}
.profile-card .profile-info{display: flex;align-items: center;gap: 0 75px;}
.profile-card .profile-info .img-div .profile-img{width: 157px;height: 157px;border-radius: 50%;object-fit: cover;min-width: 157px;}
.profile-card .profile-info .text-content{display: flex;flex-direction: column;gap: 5px 0;}
.profile-card .profile-info .text-content .name{font-size: 16px;font-weight: 500;line-height: 22px;color: #fff;margin: 0;}
.profile-card .profile-info .text-content .username{font-size: 14px;font-weight: 300;line-height: 20px;margin: 0;color: #fff;}
.profile-card .profile-info .text-content .username span{font-weight: 500;}
.profile-card .membership-div{display: flex;align-items: center;justify-content: center;gap: 6px 0;flex-direction: column;margin-bottom: 50px;}
.profile-card .membership-div .star-img{height: 57px;}
.profile-card .membership-div .membership-text{font-size: 14px;font-weight: 500;line-height: 20px;margin: 0;color: #fff;}
.blue-btn{background: linear-gradient(90deg, #721AE3 0%, #0058C0 100%);border-radius: 7px;padding: 15px 20px;text-decoration: none;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;}
.blue-btn:hover{color: #fff;}
.profile-card .bottom-content{display: flex;align-items: center;justify-content: flex-start;gap: 10px 90px;margin-top: auto;}
.profile-card .bottom-content .bottom-text{font-size: 14px;font-weight: 300;line-height: 20px;color: #FFFFFFB2;margin: 0;}

.membership-card{position: relative;background: #04001C;z-index: 2;border-radius: 20px;padding: 35px 25px;height: 100%;overflow: hidden;}
.membership-card .border-bg{top: 55px;}
.membership-card .card-title{font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFF;margin: 0;text-align: center;}
.membership-card .membership-div{display: flex;align-items: center;justify-content: center;gap: 25px 0;flex-direction: column;margin: 60px 0 30px 0;}
.membership-card .membership-div .star-img{height: 105px;}
.membership-card .membership-div .membership-text{margin: 0;font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFFB2;}
.membership-card .membership-div .blue-btn{padding: 22px 45px;}
.membership-card .bottom-content{display: flex;align-items: center;gap: 0 50px;}
.membership-card .bottom-content .bottom-text{font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFFB2;margin: 0;}
.membership-card .bottom-content .bottom-text .bottom-icon{width: 21px;height: 21px;}

.ai-usage-card{position: relative;z-index: 2;background: #04001C;height: 100%;border-radius: 20px;display: flex;flex-direction: column;justify-content: space-between;padding: 35px 17px 50px 17px;align-items: center;overflow: hidden;gap: 40px 0;}
.ai-usage-card .border-bg, .upgrades-applied-card .border-bg{object-fit: contain;transform: rotate(-10deg);top: 60px;left: 0;}
.ai-usage-card .card-title{margin-bottom: 0;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;}
.ai-usage-card .count-div{display: flex;flex-direction: column;gap: 10px 0;text-align: center;align-items: center;}
.ai-usage-card .count-div .count{font-size: 28px;font-weight: 500;line-height: 39px;color: #fff;margin-bottom: 0;}
.ai-usage-card .count-div .text{font-size: 16px;font-weight: 500;line-height: 22px;color: #FFFFFFB2;margin: 0;}
.ai-usage-card .message{font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFFB2;margin-bottom: 0;}

.input-row{gap: 15px 0;}
.input-field-card{background: #04001C;position: relative;z-index: 2;overflow: hidden;border-radius: 20px;padding: 50px 35px;height: 100%;}
.form-row{display: flex;flex-direction: column;gap: 30px 0;}
.form-row .label{font-size: 16px;font-weight: 500;line-height: 20px;color: #FFFFFF94;margin-bottom: 4px;display: block;}
.form-row .form-groups .input-group{display: flex;gap: 0 15px;width: 100%;flex-wrap: nowrap;position: relative;}
.form-row .form-groups .input-group .light-input{width: 100%;border: 2px solid #FFFFFF;border-radius: 8px !important;padding: 13px 18px;font-size: 12px;font-weight: 200;line-height: 15px;color: #fff;background: transparent;}
.form-row .form-groups .input-group .light-input::placeholder{color: #fff;}
.form-row .form-groups .save-btn{border-radius: 7px !important;background-color: var(--primary-color);padding: 10px 35px;border: 0;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;}
.input-field-card .message{font-size: 15px;font-weight: 500;line-height: 21px;color: #FFFFFFB2;margin-bottom: 0;}
.custom-upload{background-color:transparent;border:1px solid var(--primary-color);border-radius:7px;padding:10px 60px 10px 15px;cursor:pointer;display:flex;align-items:center;gap:0 30px;color:#fff;width:fit-content;font-family:Lexend;font-size:14px;font-weight:500;line-height:20px;color: #FFFFFFD9;}
.custom-upload input {left: -9999px; position: absolute;}
.upload-div .upload{display: flex;flex-direction: column;gap: 8px 0;}
.upload-div{display: flex;justify-content: center;align-items: center;gap: 0 50px;}

.upgrades-applied-card{background-color: #04001C;border-radius: 20px;position: relative;z-index: 2;padding: 35px 15px;overflow: hidden;height: 100%;}
.upgrades-applied-card .card-title{margin-bottom: 0;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;text-align: center;}
.upgrades-applied-card .inner-content{margin-top: 55px;display: flex;flex-direction: column;gap: 30px 0;}
.upgrades-applied-card .inner-content .text{font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFFB2;margin: 0;}
.upgrades-applied-card .upload .custom-upload{padding: 10px 20px 10px 25px;gap: 0 20px;}
.media-page-row{gap: 45px 0;}
.upload-media .upload-btn{border: 0;background: linear-gradient(90deg, #0019FF 0%, #4200FF 100%);box-shadow: 0px 3.5px 5.5px 0px #00000005;border-radius: 15px;padding: 35px 150px;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;}
.upload-media .upload-btn:focus-visible{outline: 0;}
.row-title{font-size: 14px;font-weight: 500;line-height: 20px;color: #FFFFFF;margin-bottom: 0;}
.media-library-row .row-title{margin-bottom: 15px;}
.my-upload-row{gap: 15px 0;}
.my-upload-card{background-color: #00000080;border-radius: 12px;padding: 25px;}
.my-upload-card .top-content{display: flex;align-items: center;justify-content: space-between;}
.my-upload-card .top-content .star-btn, .my-upload-card .top-content .dot-dropdown{background: transparent;border: 0;margin: 0;padding: 0;}
.my-upload-card .top-content .star-btn .icon, .my-upload-card .top-content .dot-dropdown .icon{color: #fff;width: 24px;height: 22px;}
.my-upload-card .file-info-div{display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 32px 0;margin: 80px 0 50px 0;}
.my-upload-card .file-info-div .file-name{font-size: 16px;font-weight: 500;line-height: 22px;color: #fff;margin: 0;text-align: center;}
.my-upload-card .bottom-content{display: flex;justify-content: space-between;align-items: center;gap: 0 20px;}
.my-upload-card .bottom-content .fs-esmall{color: #A0AEC0;font-weight: 400;}
.my-upload-card .bottom-content .acces-users-div{display: flex;flex-direction: column;gap: 4px 0;}
.my-upload-card .bottom-content .acces-users-div .members-imgdiv{align-items: center;justify-content: center;}

.library-card-row{display: flex;flex-wrap: wrap;gap: 14px;}
.media-library-card{background: #FFFFFF33;border-radius: 12px;padding: 70px 90px;width: fit-content;display: flex;align-items: center;justify-content: center;text-decoration: none;}
.media-library-card .inner-content{display: flex;flex-direction: column;gap: 24px 0;}
.media-library-card .inner-content .title{font-size: 14px;font-weight: 500;line-height: 20px;text-align: center;color: #FFFFFFB2;margin-bottom: 0;text-decoration: none;}

.modal-dark .modal-content{background-color: #04001C;box-shadow: 0px 0px 37px 58px #00000091;border-radius: 20px;}
.modal-dark .modal-body{padding: 50px 80px;}
.modal-dark .title-div{display: flex;flex-direction: column;gap: 20px 0;margin-bottom: 55px;}
.modal-dark .title{font-size: 28px;font-weight: 500;line-height: 39px;text-align: left;color: #fff;margin: 0;}
.modal-dark .sub-title{font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;margin: 0;}
.upload-file-div{display: grid;grid-template-columns: repeat(2,1fr);gap: 0 100px;}
.drag-upload-card{border-radius: 12px;background: #FFFFFF33;display: flex;flex-direction: column;align-items: center;justify-content: center;padding: 120px 50px;gap: 35px 0;}
.drag-upload-card .text{font-family:Lexend;font-size:14px;font-weight:500;line-height: 20px;text-align: center;color: #FFFFFFB2;}
.drag-upload-card .custom-upload{background:linear-gradient(90deg,#0094FF 0%,#002EA5 100%);border-radius:7px;border:0;padding:10px 30px;font-family:Lexend;font-size:14px;font-weight:500;line-height: 20px;}
.upload-progress-div .top-cont{display: flex;align-items: center;justify-content: space-between;gap: 0 30px;margin-bottom: 20px;}
.upload-progress-div .top-cont .sec-title{font-size: 16px;font-weight: 500;line-height: 22px;color: #fff;margin-bottom: 0;}
.upload-progress-div .top-cont .dot-dropdown{background: transparent;padding: 0;margin: 0;border: 0;}
.upload-progress-div .top-cont .dot-dropdown .icon{color: #fff;}
.uploading-list{display: flex;flex-direction: column;gap: 11px 0;}
.upload-progress-div .uploading-div{display: flex;flex-direction: column;}
.upload-progress-div .uploading-div .file-name{font-size: 14px;font-weight: 400;line-height: 20px;color: #FFFFFFCC;margin-bottom: 5px;}
.upload-progress-div .uploading-div  .progress-bar{background: #FFFFFF82;height: 5px;border-radius: 30px;width: 100%;position: relative;}
.upload-progress-div .uploading-div  .progress-bar span{position: absolute;left: 0;top: 0;background: #1A9BE3;height: 5px;border-radius: 30px;}
.upload-progress-div .uploading-div .time{font-size: 10px;font-weight: 400;line-height: 14px;text-align: right;color: #FFFFFFCC;margin-bottom: 0;margin-top: 4px;}
.video-thumb-card .text-content{display: flex;flex-direction: column;gap: 24px 0;}
.video-thumb-card .text-content .text{font-size: 14px;font-weight: 400;line-height: 20px;color: #FFFFFFB2;margin-bottom: 0;}
.video-thumb-card .text-content .text.file-name{color: #FFFFFFCC;}
.video-thumb-card .video-thumb-div{margin-top: 40px;display: flex;flex-direction: column;gap: 20px 0;align-items: center;justify-content: center;}
.video-thumb-card .video-thumb-div .prev-card{background: #FFFFFF33;border-radius: 12px;height: 254px;width: 617px;display: flex;align-items: center;justify-content: center;}
.video-thumb-card .video-thumb-div .prev-card .inner-text{font-size: 28px;font-weight: 500;line-height: 39px;color: #FFFFFFCC;margin-bottom: 0;}
.video-thumb-card .video-thumb-div .linear-btn{background: linear-gradient(90deg, #0094FF 0%, #002EA5 100%);border-radius: 7px;padding: 10px 25px;font-size: 14px;font-weight: 500;line-height: 20px;color: #fff;text-decoration: none;}

.option-cards{display: flex;gap: 0 85px;align-items: center;justify-content: center;}
.option-cards .card-div{border-radius: 12px;background: #FFFFFF26;padding: 90px 90px 30px 90px;display: flex;flex-direction: column;gap: 35px 0;text-decoration: none;align-items: center;justify-content: center;}
.option-cards .card-div .icon{height: 170px;width: fit-content;}
.option-cards .card-div .name{font-size: 20px;font-weight: 400;line-height: 20px;color: #FFFFFFE5;margin-bottom: 0;}

.tab-section .tabs-div .nav-tabs{border: 0;gap: 0 100px;align-items: center;text-align: center;justify-content: space-between;width: 100%;position: relative;}
.tab-section .tabs-div .nav-tabs .border-dashed{position:absolute;width:95%;height:auto;top:38%;transform: translate(0, -50%);left: 25px;}
.tab-section .tabs-div .nav-tab{position: relative;;text-decoration: none;display: flex;flex-direction: column;align-items: center;gap: 7px 0;height: 115px;justify-content: center;}
.tab-section .tabs-div .nav-tab .count{width: 55px;height: 55px;border-radius: 41px;background: #B0B0B0;box-shadow: 0px 0px 4px 0px #00000040;font-family: var(--obelix-proIt-font);font-size: 24px;font-weight: 700;line-height: 40px;color: #00204A;display: flex;align-items: center;justify-content: center;transition: all 0.2s ease;}
.tab-section .tabs-div .nav-tab.active .count{width: 83px;height: 83px;background: #FFFFFF;}
.tab-section .tabs-div .nav-tab .tab-name{font-size: 20px;font-weight: 500;line-height: 25px;text-align: center;color: #FFFFFFBF;opacity: 0;transition: all 0.2s ease;}
.tab-section .tabs-div .nav-tab.active .tab-name{opacity: 1;}
.tab-section .tabs-div .check-icon{color: #001F2D;font-size: 42px;display: none;}
.tab-section .tabs-div .nav-tab.completed .number{display: none;}
.tab-section .tabs-div .nav-tab.completed .check-icon{display: block;}
.tab-section .tabs-div .nav-tab.completed .tab-name{opacity: 0;}
.tab-section .tabs-div .nav-tab.completed .count{width: 55px;height: 55px;background: #fff;}
.tab-section .tab-content{margin-top: 35px;}
.tab-section .tab-content .two-col{display: grid;grid-template-columns: repeat(2,1fr);gap: 0 140px;}
.tab-section .tab-content .your-pdf-content .form-row .label{font-size: 20px;line-height: 25px;color: #fff;margin-bottom: 10px;}
.tab-section .tab-content .your-pdf-content .form-row .form-groups .input-group .light-input{padding: 10px 14px;font-size: 17px;font-weight: 400;line-height: 27px;}
.tab-section .tab-content .upload-card{border: 2px solid #FFFFFF;border-radius: 8px;padding: 30px 170px 90px 170px;display: flex;flex-direction: column;gap: 65px 0;align-items: center;justify-content: center;}
.tab-section .tab-content .upload-card .text{font-size: 20px;font-weight: 500;line-height: 25px;color: #fff;margin-bottom: 0;}
.tab-section .tab-content .upload-card .custom-upload{padding: 10px 45px;border-radius: 8px;border: 4px solid #FFFFFF;background: #00B0FF;font-size: 20px;font-weight: 500;line-height: 25px;gap: 0 4px;}
.tab-section .tab-content .upload-card .custom-upload img{width: 38px;height: 38px;}

.campaign-cards{display: flex;flex-direction: column;gap: 38px 0;}
.campaign-cards .campaign-label{font-size: 18px;font-weight: 400;line-height: 23px;color: #FFFFFFB2;margin-bottom: 0;}
.campaign-cards .cards{display: flex;gap: 30px;align-items: center;justify-content: center;}
.campaign-cards .inner-card{border-radius: 8px;box-shadow: 0px 0px 10px 0px #00000040;background: #002955;padding: 25px 20px;display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 25px 0;text-decoration: none;min-width: 170px;}
.campaign-cards .inner-card .img-icon{height: 80px;object-fit: contain;}
.campaign-cards .inner-card .campaign-option{font-size: 16px;font-weight: 400;line-height: 20px;color: #FFFFFFE5;margin-bottom: 0;}
.campaign-cards .inner-card.active{padding: 32px;background: #fff;}
.campaign-cards .inner-card.active .campaign-option{color: #002955;}

.bottom-btn-group{width: 100%;display: flex;align-items: center;justify-content: center;gap: 0 35px;margin-top: 140px;}
.bottom-btn-group .prev-btn{padding: 17px 69px;border: 4px solid #8C8C8C;background: #FFFFFF;border-radius: 8px;box-shadow: 0px 0px 4px 0px #00000040;font-size: 20px;font-weight: 500;line-height: 25px;color: #8C8C8C;}
.bottom-btn-group .next-btn{padding: 17px 69px;border: 4px solid #fff;background: #0056B2;border-radius: 8px;box-shadow: 0px 0px 4px 0px #00000040;font-size: 20px;font-weight: 500;line-height: 25px;color: #fff;}
.bottom-btn-group .next-btn:disabled{background: #8C8C8C;}

.tab-pane .sec-title{font-size: 18px;font-weight: 400;line-height: 23px;color: #FFFFFFB2;margin-bottom: 20px;}
.form-groups .form-check .form-check-label{font-size: 18px;font-weight: 400;line-height: 23px;color: #FFFFFFB2;}
.form-groups .form-check-input{width: 27px;height: 27px;}
.form-groups .form-check{display: flex;align-items: center;gap: 0 10px;margin-top: 12px;}
.form-row .form-groups .input-group .light-input.fs-medium{font-size: 16px;line-height: 20px;color: #fff;padding: 10px 18px;}
.form-row.gap-12{gap: 12px 0;}
.gate-styling-tab .bottom-btn-group{margin-top: 85px;}
.form-groups .trans-select{border: 2px solid #FFFFFF;border-radius: 8px;background: transparent;padding: 15px 12px;font-size: 16px;font-weight: 500;line-height: 20px;color: #fff;}
.form-groups .trans-select option{color: #000;}

.form-row .form-groups .input-group .light-input.bg-input-lightgray{background: #FFFFFF80;border: 2px solid #FFFFFF80;padding: 10px 58px;font-size: 16px;font-weight: 300;line-height: 20px;color: #FFFFFF;}
.form-row .form-groups .input-group .light-input.bg-input-lightgray:focus{outline: 0;}
.form-row .form-groups .input-group .color-card{width:25px;height:25px;border-radius:2px;min-width:25px;position:absolute;left:14px;top:50%;transform:translate(0, -50%);}
.col-rows{display: flex;gap: 27px 0;}
.form-groups .bg-select{border: 2px solid #FFFFFF80;background: #FFFFFF80;border-radius: 8px;font-size: 16px;font-weight: 300;line-height: 20px;width: 100%;height: auto;color: #fff;padding: 10px 16px;}
.form-groups .bg-select option{color: #000;}
.form-groups .bg-select:focus{outline: 0;}
.form-groups .color-card .icon{width: 28px;height: 28px;color: #fff;}
.rounded-forms{border: 2px solid #FFFFFF;border-radius: 57px;padding: 15px 40px 21px 40px;margin-top: 55px;}
.rounded-forms .form-row{flex-direction: row;gap: 0 20px;width: 100%;}
.rounded-forms .form-row .form-groups .input-group .light-input{border-radius: 39px !important;width: 100%;}
.rounded-forms .form-row .form-groups{width: 100%;}
.page-settings-tab .bottom-btn-group{margin-top: 50px;}
.mb-70{margin-bottom: 70px;}
.input-upload .custom-upload{width:100%;background:#FFFFFF80;border:2px solid #FFFFFF80;border-radius:8px;font-size:16px;line-height:20px;font-weight:200;padding:10px 15px;gap:0 23px;}
.input-upload .custom-upload .icon{width: 24px;height: 24px;}
.form-row .form-groups .input-group.add-append .light-input.bg-input-lightgray{padding: 10px 50px 10px 20px;}
.form-row .form-groups .input-group.add-append .add-append-btn{border: 0;background: transparent;padding: 0;margin: 0;position: absolute;top: 50%;transform: translate(0,-50%);right: 15px;display: flex;}
.form-row .form-groups .input-group.add-append .add-append-btn .icon{width: 30px;height: 30px;color: #fff;}
.add-div{width: 100%;display: flex;align-items: end;justify-content: flex-end;margin-top: 40px;}
.add-div .add-btn{border: 0;margin: 0;padding: 0;background: transparent;display: flex;}
.add-div .add-btn .icon{width: 20px;height: 20px;color: #fff;}

@media (min-width:1400px) {
    .publish-tab-modal .modal-xl{max-width: 1450px;}    
}

@media (max-width:1400px) {
    .profile-card{padding: 50px 50px 11px 50px;}
    .profile-card .profile-info .img-div .profile-img{width: 120px;height: 120px;min-width: 120px;}
    .profile-card .profile-info{gap: 0 40px;}

    .upgrades-applied-card .upload .custom-upload{flex-wrap: wrap;align-items: center;justify-content: center;text-align: center;padding: 15px;}

    .tab-section .tabs-div .nav-tabs .border-dashed{display: none;}
    .tab-section .tabs-div .nav-tabs{justify-content: center;gap: 30px;}
    .tab-section .tab-content .upload-card{padding: 30px 40px 90px 40px;}

    .tab-section .tab-content .two-col{gap: 0 70px;}
}
@media (min-width: 1199px){
    .wrapper{padding-left: 256px;}
    .sidebar{transform: translate3d(0,0,0);left: 10px;}
}
@media (max-width:1200px) {
    button.navbar-toggler{display: block;}
    .navbar .right-links .links{color: #fff;}

    .upload-div{gap: 0 20px;}
    .custom-upload{padding: 10px 40px 10px 15px;}

    .video-thumb-card .video-thumb-div .prev-card{width: 350px;height: 200px;}
    .video-thumb-card .video-thumb-div .prev-card .inner-text{font-size: 18px;}

    .upload-file-div{grid-template-columns: repeat(1,1fr);gap: 30px 0;}
    .drag-upload-card{padding: 80px 30px;gap: 30px 0;}

    .option-cards{flex-direction: column;gap: 30px 0;}

    .tab-section .tab-content .two-col{display: flex;flex-direction: column;gap: 45px 0;}

    .campaign-cards .cards{flex-direction: column;gap: 15px 0;}
    .bottom-btn-group{flex-direction: column;gap: 10px 0;margin-top: 40px;}
    .rounded-forms{padding: 15px 27px;margin-top: 30px;}
    .form-groups .bg-select{height: auto;}
    .rounded-forms .form-row{flex-direction: column;}
}
@media (max-width:991px) {
    .chart-row, .table-row{gap: 15px 0;}

    .start-project-card .add-project{position: unset;transform: unset;height: auto;}

    .option-cards .card-div{padding: 30px 45px;gap: 25px 0;}
    .option-cards .card-div .icon{height: 80px;}
    .option-cards .card-div .name{font-size: 14px;line-height: 18px;}
    
    .mb-70{margin-bottom: 30px;}
}
@media (max-width:576px) {
    .profile-card .profile-info .img-div .profile-img{width: 80px;height: 80px;min-width: 80px;}
    .profile-card .profile-info{gap: 0 20px;}
    .profile-card, .membership-card, .ai-usage-card, .input-field-card, .upgrades-applied-card{padding: 30px 25px;}
    .membership-card .membership-div .blue-btn{padding: 18px 30px;}
    .membership-card .membership-div .star-img{height: 85px;}
    .membership-card .membership-div{margin: 40px 0 30px 0;gap: 15px 0;}
    .membership-card .bottom-content .bottom-text{font-size: 12px;}
    .membership-card .bottom-content .bottom-text .bottom-icon{width: 15px;height: 15px;}
    .membership-card .bottom-content{gap: 10px;flex-direction: column;}
    .blue-btn{padding: 10px 16px;}
    .profile-card .membership-div{margin-bottom: 30px;}
    .profile-card .bottom-content .bottom-text{font-size: 12px;line-height: 18px}
    .profile-card .bottom-content{gap: 10px;flex-direction: column;align-items: center;}
    .ai-usage-card .count-div .count{font-size: 24px;line-height: 34px;}
    .ai-usage-card .count-div .text{font-size: 14px;}
    .ai-usage-card .message{font-size: 12px;}
    .ai-usage-card{gap: 25px 0;}

    .form-row .label{font-size: 14px;}
    .form-row .form-groups .save-btn{padding: 10px 18px;font-size: 12px;}
    .form-row .form-groups .input-group .light-input{padding: 12px;}
    .form-row{gap: 25px 0;}
    .input-field-card .message, .upgrades-applied-card .inner-content .text{font-size: 12px;}
    .upgrades-applied-card .inner-content{gap: 25px 0;margin-top: 30px;align-items: center;}
    .profile-card .profile-info .text-content .username{font-size: 13px;}
    .profile-card .profile-info .text-content .name{font-size: 14px;}
    .profile-card .membership-div .star-img{height: 45px;}
    .upload-div{flex-direction: column;justify-content: start;gap: 15px 0;}
    .form-row .form-groups .input-group{gap: 0 10px;}

    .upload-media .upload-btn{padding: 25px 90px;}
    .my-upload-card .file-info-div{margin: 30px 0;gap: 20px 0;}
    .media-page-row{gap: 30px 0;}
    .my-upload-card .upload-card{width: 50px;height: 50px;}
    .my-upload-card .bottom-content{flex-direction: column;gap: 15px 0;}
    .media-library-card{width: 100%;padding: 50px;}
    .my-upload-card .file-info-div .file-name{font-size: 14px;}

    .modal-dark .modal-body{padding: 30px;}
    .modal-dark .title{font-size: 18px;line-height: 26px;}
    .modal-dark .sub-title{font-size: 12px;line-height: 18px;}
    .modal-dark .title-div{gap: 10px 0;margin-bottom: 35px;}
    .video-thumb-card .text-content{gap: 15px 0;}
    .video-thumb-card .text-content .text{font-size: 12px;line-height: 18px;}
    .video-thumb-card .text-content{gap: 10px 0;}
    .video-thumb-card .video-thumb-div .prev-card{width: 100%;}
    .video-thumb-card .video-thumb-div{margin-top: 30px;}

    .drag-upload-card{padding: 50px 30px;gap: 10px 0;}
    .upload-progress-div .uploading-div .file-name{font-size: 12px;line-height: 18px;}
    .upload-progress-div .top-cont{margin-bottom: 15px;}

    .tab-section .tabs-div .nav-tab .count{width: 40px;height: 40px;font-size: 16px;line-height: 28px;}
    .tab-section .tabs-div .nav-tab.active .count{width: 55px;height: 55px;}
    .tab-section .tabs-div .nav-tab .tab-name{font-size: 14px;line-height: 22px;}
    .tab-section .tabs-div .nav-tab{height: 85px;}
    .tab-section .tabs-div .nav-tabs{display: grid;grid-template-columns: repeat(2, 1fr);gap: 15px 0;}
    .tab-section .tab-content .form-row .label{font-size: 14px;line-height: 22px;margin-bottom: 6px;}
    .tab-section .tab-content .form-row .form-groups .input-group .light-input{width: 100%;font-size: 14px;line-height: 24px;}
    .tab-section .tab-content .form-row{gap: 15px 0;}
    .tab-section .tab-content .two-col{gap: 30px 0;}
    .tab-section .tab-content .upload-card{padding: 30px 20px 60px 20px;gap: 45px 0;}
    .tab-section .tab-content .upload-card .text{font-size: 16px;line-height: 22px;}
    .tab-section .tab-content .upload-card .custom-upload{padding: 10px 30px;border: 2px solid #FFFFFF;font-size: 14px;line-height: 22px;}
    .tab-section .tab-content .upload-card .custom-upload img{width: 25px;height: 25px;}

    .campaign-cards{gap: 20px 0;}
    .campaign-cards .inner-card .img-icon{height: 50px;}
    .campaign-cards .inner-card{padding: 18px 14px;min-width: 160px;gap: 20px 0;}
    .campaign-cards .inner-card .campaign-option{font-size: 14px;}
    .campaign-cards .inner-card.active{padding: 27px;}
    .bottom-btn-group .prev-btn, .bottom-btn-group .next-btn{padding: 14px 48px;font-size: 16px;}
    .form-groups .form-check .form-check-label{line-height: 18px;font-size: 11px;}
    .form-groups .form-check-input{width: 20px;height: 20px;}
    .tab-pane .sec-title{line-height: 18px;font-size: 16px;}
    .col-rows{gap: 15px 0;}
    .tab-section .tab-content .your-pdf-content .form-row .label{font-size: 16px;line-height: 18px;margin-bottom: 5px;}
}
@media (max-width:575px) {
    .wrapper{overflow: hidden;}
    .cards-row{gap: 15px 0;}
    .page-contents .padding-div{padding: 0 15px;}
    .navbar{flex-direction: column;flex-wrap: wrap;width: 100%;height: auto;gap: 10px 0;}
    .main-header .right-content{width: 100%;justify-content: end;}
    button.navbar-toggler{position: absolute;right: 20px;top: 0;}
        
    .active-campaigns-card .cards-progress{flex-wrap: wrap;gap: 15px 0;justify-content: center;}
    .active-campaigns-card .score-div .score{font-size: 34px;line-height: 38px;}

    .progress-bar-mcard{flex-wrap: wrap;gap: 25px;}
    .table-sec .table .table-th, .table-sec .table .table-td{padding: 13px;}

    .footer{margin-top: 15px;padding-right: 40px;}
    .footer .inner-content{gap: 0 25px;}
    .table-sec .table .table-td{word-wrap: break-word;word-break: break-all;}
    .table-sec .table{margin-top: 15px;}
    .active-user-chart.analytics-div{padding: 12px 12px 20px 15px;}
    .active-campaigns-card .status-card{padding: 15px 30px 22px 20px;}
    .active-campaigns-card{padding: 20px 17px 14px 17px;}
    .welcome-card .text-content{gap: 70px 0;}
    .welcome-card{padding: 24px 18px;}

    .plus-icon{width: 50px;height: 50px;}
    .start-project-card .cards-title{font-size: 22px;}
    .start-project-card{padding: 28px;}
    .project-list-card:nth-last-child(4),.project-list-card:nth-child(1){width: 100%;height: 100%;position: unset;}
    .project-list-card.rate-card .progress-bar-sec .info-div{gap: 0 40px;}
    .project-list-card.rate-card .progress-bar-sec .info-div .current-per .current{font-size: 21px;}
    .project-list-card .bottom-content{flex-direction: column;align-items: center;gap: 10px 0;}
    .project-list{height: auto;}
    .project-list-card:nth-last-child(3),.project-list-card:nth-last-child(2),.project-list-card:nth-last-child(1){display: none;}

    .dark-table{padding: 34px;}
    .publish-card .cards-div{gap: 15px 0;}
    .publish-card .cards-div .inner-card{padding: 25px 0;}
    .publish-card{padding: 35px;}

    .wrapper .navbar{padding: 0 30px 29px 30px;}
    .chat-card1{padding: 65px 25px 65px 25px;}
    .team-members-chat{flex-direction: column;gap: 10px 0;}
    .collab-project-card .content{flex-direction: column-reverse;align-items: center;gap: 10px 0;}
    .collab-project-card .top-content{flex-direction: column;gap: 10px 0;}
}